.navbar{
	
	 background: #000;
}
	nav a{
		color: #fff;
		list-style: none;
	    text-decoration: none; 
	}
	nav a:hover{
		color: #fff;
		list-style: none;
	    text-decoration: none; 
	    cursor: none;
	}
	ul li:hover{
		cursor: pointer;
		background: #000;
		color:#fff;
	}
	#bg{
		height: 100vh; 
		width: 100%;
		position: absolute;   
		overflow: hidden;
	}
	#bg img{
		height: 120vh;
		width: 105%;
		-webkit-filter:blur(20px);
		position: absolute;
		top: 50%;
		left: 50%; 
		transform: translate(-50%,-50%);
		z-index: -999;

	}